.App {
  display: flex;
  flex-direction: column;
  background-image: url('https://wallpaperplay.com/walls/full/4/8/8/155118.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: 'Shadows Into Light', cursive;
}

.header {
  display: flex;
  font-weight: bold;
  flex-direction: row;
  /* align-items: flex-start; */
  justify-content: center;
  align-items: center;
  padding-top: 10ch;
  font-size: 20;
  color: black;
}

button {
  background-color: #a2e3c4;
  border: #a2e3c4;
}

.button {
  display: flex;
  justify-content: center;
  padding-top: 15ch;
}

button:hover {
  background-color: red;

}

